.box-changepassword {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 264px;
    background-color: #fff;
    border-radius: 3px;
    padding: 32px;
    box-sizing: border-box;
    position: relative;
    animation: box-changepassword 1s linear;
}

.changepassword-title {
    height: 40px;
    color: #488DC7;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
}

.box-input-changepassword {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 40px;
    position: relative;
}

.name-changepassword {
    width: calc(100% - 250px);
    color: #488DC7;
    font-size: 13px;
    font-weight: 700;
}

.input-changepassword {
    width: 330px;
    height: 30px;
    outline: none;
    border: 1px solid #e0e5e9;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0px 16px;
}

.input-changepassword:focus {
    border: 1px solid #0073e6;
}

.icon-eye-changepasswword {
    width: 22px;
    height: 16px;
    background-image: url(../../assets/icon.svg);
    background-position: -1606px -408px;
    position: absolute;
    top: 12px;
    right: 8px;
    cursor: pointer;
}

.hide-currentpassword {
    width: 22px;
    height: 16px;
    background-image: url(../../assets/icon.svg);
    background-position: -1651px -408px;
    position: absolute;
    top: 12px;
    right: 8px;
    cursor: pointer;
}

.hide-newpassword {
    width: 22px;
    height: 16px;
    background-image: url(../../assets/icon.svg);
    background-position: -1651px -408px;
    position: absolute;
    top: 12px;
    right: 8px;
    cursor: pointer;
}

.hide-retype-newpassword {
    width: 22px;
    height: 16px;
    background-image: url(../../assets/icon.svg);
    background-position: -1651px -408px;
    position: absolute;
    top: 12px;
    right: 8px;
    cursor: pointer;
}

.box-btn-changepassword {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.btn-changepassword {
    line-height: 30px;
    text-align: center;
    width: 80px;
    height: 30px;
    font-size: 13px;
    font-weight: 700;
    color: #000;
    border: 1px solid #e0e5e9;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
}

.btn-save {
    background-color: #2ca01c;
    color: #fff;
}

.btn-save:hover {
    background-color: #33d01e;
}

@keyframes box-changepassword {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}