.t-header {
    height: 48px;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #ccc;
}

.box-header {
    height: 48px;
    display: flex;
    flex-direction: row;
    padding: 0px 16px;
    box-sizing: border-box;
    align-items: center;
}

.box-header-name {
    min-width: 100px;
    line-height: 48px;
    margin-right: 8px;
    font-size: 13px;
    font-weight: 700;
    color: #488DC7;
}

.box-name-permission {
    min-width: 100px;
    text-align: center;
    height: 30px;
    color: #fff;
    background-color: #F2852A;
    line-height: 30px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 700;
}